<%# Jobs Banner %>
<%# Variables %>
<% available_jobs = 0 %>
<% available_job = "" %>
<% dato.jobs.each do |job| %>
  <% if job.is_published %>
    <% available_jobs = available_jobs + 1 %>
    <% available_job = job %>
  <% end %>
<% end %>
<%# End %>
<%# Content %>
<% if available_jobs > 0 %>
  <section class="pv3 ph15 bt b--light-gray">
    <header class="lato tc">
      <h1 class="ma0 mb1 f15 fw4 lh01"><%= dato.job_banner.title %></h1>
      <% if available_jobs === 1 %>
        <p class="ma0 mb2 f1 fw4 lh15"><%= available_job.ad %></p>
      <% else %>
        <p class="ma0 mb2 f1 fw4 lh15 gray"><%= dato.job_banner.title %></p>
      <% end %>
    </header>
    <% if available_jobs === 1 %>
      <a class="db center w8 pv05 lato white fw7 tc bg-blue br0125 no-underline" href=""><%= dato.job_banner.single_job_button %></a>
    <% else %>
      <a class="db center w8 pv05 lato white fw7 tc bg-blue br0125 no-underline" href=""><%= dato.job_banner.multiple_jobs_button %></a>
    <% end %>
  </section>
<% end %>
<%# End %>
