---
layout: main
title: Materiales para Construcción — Materiales Vallejo
---
<%# Content %>
<main>
  <%# Hero %>
  <%# Variables %>
  <% hero = dato.index.hero %>
  <%# End %>
  <article class="pv8 ph15 cover bg-center" style="background-image: url(<%= hero.background.file.file.to_url %>)">
    <header class="lato tc white">
      <h1 class="ma0 mb1 f15 fw4 lh01"><%= hero.title %></h1>
      <p class="ma0 mb2 f1 fw4 lh15"><%= hero.subtitle %></p>
    </header>
    <div class="tc lato white">
      <% hero.button.each_with_index do |button, b| %>
        <% if button.is_primary %>
          <a class="db center <% if b == 0 %>mb1<% end %> w8 pv05 tc bg-blue br0125">
            <%= button.title %>
          </a>
        <% else %>
          <a class="db center <% if b == 0 %>mb1<% end %> w8 pv05 tc ba b--white br0125">
            <%= button.title %>
          </a>
        <% end %>
      <% end %>
    </div>
  </article>
  <%# Products %>
  <%# Variables %>
  <% cl = dato.categories.length - 1 %>
  <% pl = dato.products.length %>
  <% pc = 0 %>
  <%# End %>
  <section class="pv3 bb b--light-gray">
    <header class="lato tc ph15 mb3">
      <h1 class="ma0 mb1 f15 fw4 lh01 dark-gray"><%= dato.index.products.title %></h1>
      <p class="ma0 f1 fw4 lh15 gray"><%= dato.index.products.subtitle %></p>
    </header>
    <nav>
      <ul class="ma0 ph15 pb2 overflow-x-auto overflow-scrolling scrollbar-dn nowrap list">
        <% dato.categories.sort_by(&:position).each_with_index do |category, c| %>
          <li class="dib"><a class="lato <% if c === 0 %>blue<% else %>gray<% end %> <% if c != cl %>mr2<% end %>"><%= category.name %></a></li>
        <% end %>
      </ul>
    </nav>
    <div class="ph15 overflow-x-auto overflow-scrolling scrollbar-dn nowrap">
      <% dato.categories.sort_by(&:position).each do |category| %>
        <% dato.products.sort_by(&:position).each do |product| %>
          <% if category.name === product.category.name %>
            <% pc = pc + 1 %>
            <article class="js-card dib w15 h20 <% if pc != pl %>mr2<% end %> bg-white ba b--light-gray br0125">
              <header class="relative mh15 mt15 pb2">
                <%= image_tag "arrow.svg", :class => "js-rotate is-down absolute top-1 right-0" %>
                <h2 class="ma0 mb05 lato f1 fw4 silver"><%= product.brand %></h2>
                <h1 class="js-test ma0 lato f1 fw4 dark-gray"><%= product.name %></h1>
              </header>
              <div class="relative">
                <div class="js-fade is-visible absolute top-0 o-1">
                  <img class="pb2" src="<%= product.image.file.file.to_url %>">
                </div>
                <div class="js-fade is-hidden absolute top-0 ws-normal">
                  <ul class="ma0 pa0 mh15 mb15 list">
                    <%# Variables %>
                    <% sl = product.sections.length - 1 %>
                    <%# End %>
                    <% product.sections.sort_by(&:position).each_with_index do |detail, d| %>
                      <li>
                        <p class="ma0 mb05 lato gray"><%= detail.title %></p>
                      </li>
                      <li class="<% if d != sl %>mb1<% end %>">
                        <ul class="ma0 pa0 list">
                          <%# Variables %>
                          <% ll = detail.list.length - 1 %>
                          <%# End %>
                          <% detail.list.sort_by(&:position).each_with_index do |item, i|  %>
                            <li class="dib <% if i != ll %>mr1<% end %> <% if i %><% end %>">
                              <p class="ma0 lato dark-gray"><%= item.item %></p>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </article>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>
  <%# Services %>
  <%# Variables %>
  <% sl = dato.services.length - 1 %>
  <% icons = ["barrow.svg", "checkbox.svg", "cards.svg", "bubbles.svg"] %>
  <%# End %>
  <section class="pv3 ph15 bb b--light-gray">
    <header class="lato tc mb3">
      <h1 class="ma0 mb1 f15 fw4 lh01 dark-gray"><%= dato.index.services.title %></h1>
      <p class="ma0 f1 fw4 lh15 gray"><%= dato.index.services.subtitle %></p>
    </header>
    <ul class="ma0 pa0 list">
      <% dato.services.sort_by(&:position).each_with_index do |service, s| %>
        <li class="<% if s != sl %>mb2<% end %>">
          <%= image_tag "#{ icons[s] }", :class => "ma0 pr05", :alt => "#{ service.icon.alt }" %>
          <h3 class="dib ma0 mb05 lato f1 fw4 dark-gray"><%= service.name %></h3>
          <p class="ma0 lato f1 fw4 lh15 gray"><%= service.description %></p>
        </li>
      <% end %>
    </ul>
  </section>
  <%# Contact %>
  <%# Variables %>

  <%# End %>
  <section class="pv3 ph15">
    <header class="lato tc mb3">
      <h1 class="ma0 mb1 f15 fw4 lh01 dark-gray"><%= dato.index.contact.title %></h1>
      <p class="ma0 f1 fw4 lh15 gray"><%= dato.index.contact.subtitle_open %></p>
    </header>
    <%= partial "partials/contact" %>
  </section>
</main>
